.title-text {
    font-size: 22px; // or match your existing title size
    font-weight: lighter;
}

.custom-alignment {
    //Mobile view: Allign center
    @media (max-width: 995px) {
        text-align: center;
    }

    //Web view: Align left
    @media (min-width: 996px) {
        text-align: start;
        padding-left: 10px;
    }
}