<!-- <ion-card class="custom-card-no-shadow"> -->
  <ion-card-content class="ion-no-padding">
    <ion-grid fixed>
      <ion-row class="ion-no-padding">

        <!-- Expense Input Label: -->
        <ion-col size="8" class="ion-no-padding" (click)="toggleExpenseInput()">
          <ion-button class="ion-float-start" fill="clear" color="medium">
            <ion-icon slot="icon-only" [name]="isExpenseInputVisible ? 'chevron-down' : 'chevron-up' "></ion-icon>
          </ion-button>
          <ion-card-subtitle style="padding-left: 7px; padding-top: 14px;"><b>Expense Input:</b></ion-card-subtitle>
        </ion-col>

        <!-- Delete Button: -->
        @if (isExpenseInputVisible) {
          <ion-col size="4" class="ion-no-padding">
            <ion-button class="ion-float-end" fill="clear" color="medium">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </ion-col>
        }
      </ion-row>

      @if (isExpenseInputVisible) {
      <ion-row>

        <!-- Fund Source Selection -->
        <ion-col size="12" sizeMd="2">
          <ion-select 
            interface="popover" label="Source" label-placement="floating" fill="outline" required="true" 
            (ionChange)="onFundSourceChange($event)"
            [(ngModel)]="selectedFundSource">
            @for (fundSource of fundSources; track fundSource) {
              <ion-select-option [value]="fundSource.Name"> {{ fundSource.Name }}</ion-select-option>
            }
          </ion-select>
        </ion-col>

        <!-- Expense Type Selection -->
        <ion-col size="12" sizeMd="2">
          <ion-select 
            interface="popover" label="Type" label-placement="floating" fill="outline" required="true" 
            (ionChange)="onExpenseTypeChange($event)"
            [(ngModel)]="selectedExpenseType">
            @for (expense of expenseType; track expense) {
              <ion-select-option [value]="expense.Name"> {{ expense.Name }}</ion-select-option>
            }
          </ion-select>
        </ion-col>

        <!-- Category Selection -->
        <ion-col size="12" sizeMd="2">
          <ion-select interface="popover" label="Category" label-placement="floating" fill="outline" required="true" 
            (ionChange)="onCategoryChange($event)"
            [(ngModel)]="selectedCategory.Category"
            [disabled]="(selectedExpenseType == null || selectedExpenseType=='')">
            @for (category of Categories; track category) {
              <ion-select-option [value]="category.Category">{{ category.Category }}</ion-select-option>
            }
          </ion-select>
        </ion-col>

        <!-- Remarks / Description Input -->
        <ion-col size="12" sizeMd="3">
          <ion-input label="Remarks (Optional)" label-placement="floating" fill="outline" placeholder="Describe Expense Details" 
            [disabled]="(selectedExpenseType == null || selectedExpenseType=='')"
            [(ngModel)]="expenseRemarks"></ion-input>
        </ion-col>

        <!-- Amount Input -->
        <ion-col size="12" sizeMd="2">
          <ion-input label="Amount (Php)" label-placement="floating" fill="outline" placeholder="Enter Expense Amount" type="number" required="true" 
            [disabled]="(selectedExpenseType == null || selectedExpenseType=='')"
            [(ngModel)]="expenseAmount"></ion-input>
        </ion-col>

        <!-- Add Button -->
        <ion-col size="12" sizeMd="1" class="ion-no-padding" >
          <ion-button expand="block" fill="outline" color="secondary"
            [disabled]="!selectedExpenseType || !Categories.length || !expenseAmount || expenseAmount <= 0"
            (click)="addExpense()"> 
            <ion-icon slot="start" name="add" class="ion-no-padding"></ion-icon> Add
          </ion-button>
        </ion-col>
      </ion-row>
      }
    </ion-grid>

  </ion-card-content>
<!-- </ion-card> -->