<ion-list lines="full" class="ion-no-padding">

  @for(expense of expenseListDisplay; track expense){
    <ion-item (click)="openItemDetailsModal(expense)">
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding">
          <ion-col size="2" sizeMd="4" class="ion-no-padding">
            <ion-label color="secondary" class="small-font-size"> 
              <ion-icon slot="start" [name]="expense.Ionicon"></ion-icon> <span class="hide-on-mobile"> {{ expense.Category }} </span>  </ion-label>
          </ion-col>
          <ion-col size="7" sizeMd="5" class="ion-no-padding">
            <ion-label class="ion-text-nowrap small-font-size"> {{ expense.Remarks }} </ion-label>
          </ion-col>
          <ion-col size="3" sizeMd="3" class="ion-no-padding">
            <ion-label class="ion-text-end small-font-size" color="danger"><b> {{ expense.Amount }} </b></ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  }

  @if(expenseListDisplay.length === 0) {
    <ion-item>
      <ion-label class="ion-text-center" color="danger" style="font-style: italic;">No results found.</ion-label>
    </ion-item>
  }

</ion-list>


  <!-- MODAL: Item Detail View -->

  <!-- <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Welcome</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input label="Enter your name" labelPlacement="stacked" type="text" placeholder="Your name"
            [(ngModel)]="name"></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal> -->