<ion-header>
  <ion-toolbar color="secondary">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-title class="ion-no-padding" style="padding-left: 5px;">
            <ion-icon name="arrow-back" style="font-size: 20px; padding-right: 15px;" class="ion-float-left"
              (click)="dismissModal()"></ion-icon>
            Expense Details
          </ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="isList">

    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="6">
          <!-- Category -->
          <ion-item lines="inset" [disabled]="isEditing">
            <ion-label position="stacked" [color]="colorMainTheme">Category:</ion-label>
            <ion-input [value]="itemCategory" [readonly]="!isEditing"> <ion-icon [name]="itemIonicon" slot="start"
                [color]="colorMainTheme"></ion-icon></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <!-- Amount -->
          <ion-item lines="full">
            <ion-label position="stacked" [color]="colorMainTheme">Amount (Php):</ion-label>
            <ion-input [value]="itemAmount" [readonly]="!isEditing" style="font-weight: bold;" type="number"> <ion-icon
                name="pricetags" slot="start" [color]="colorMainTheme"></ion-icon> </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="12" sizeLg="6">
          <!-- Date -->
          <ion-item lines="inset" [disabled]="isEditing">
            <ion-label position="stacked" [color]="colorMainTheme">Date:</ion-label>
            <ion-input [value]="itemExpenseDate | date: 'MMMM dd, YYYY'" [readonly]="!isEditing"> <ion-icon
                name="calendar" slot="start" [color]="colorMainTheme"></ion-icon> </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12" sizeLg="6">
          <!-- Source -->
          <ion-item lines="full" [disabled]="isEditing">
            <ion-label position="stacked" [color]="colorMainTheme">Source:</ion-label>
            <ion-input [value]="itemSourceOfFund" [readonly]="!isEditing"> <ion-icon name="wallet" slot="start"
                [color]="colorMainTheme"></ion-icon> </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Type -->
    <ion-item [disabled]="isEditing">
      <ion-label position="stacked" [color]="colorMainTheme">Type:</ion-label>
      <ion-input [value]="itemType" [readonly]="!isEditing"> <ion-icon name="bag-check" slot="start"
          [color]="colorMainTheme"></ion-icon> </ion-input>
    </ion-item>

    <!-- Remarks -->
    <ion-item>
      <ion-label position="stacked" [color]="colorMainTheme">Remarks:</ion-label>
      <ion-input 
        [value]="itemRemarks" 
        [readonly]="!isEditing" 
        [placeholder]="itemRemarks ? 'Enter more information about this expense.' : 'No information'"> 
        <ion-icon name="information-circle" slot="start"
          [color]="itemRemarks ? colorMainTheme : 'danger'">
        </ion-icon> 
      </ion-input>
    </ion-item>

  </ion-list>
</ion-content>


<!-- FOOTER SECTION -->
<ion-footer>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row>

        <ion-col size="6" class="ion-text-end">
          @if (!isEditing) {
          <!-- Delete Button -->
          <ion-button color="danger" expand="block" (click)="editExpense(button.delete)">
            <ion-icon slot="start" name="trash"> </ion-icon> {{ button.delete }}
          </ion-button>
          }
          @else {
          <!-- Discard -->
          <ion-button color="danger" fill="outline" expand="block" (click)="editExpense(button.discard)">
            <ion-icon slot="start" name="trash"></ion-icon> {{ button.discard }}
          </ion-button>
          }
        </ion-col>

        
        <ion-col size="6" class="ion-text-start">
          @if (!isEditing) {
          <!-- Edit Button -->
          <ion-button color="secondary" expand="block" (click)="editExpense(button.edit)">
            <ion-icon slot="start" name="create"></ion-icon> {{ button.edit }}
          </ion-button>
          }
          @else {
          <!-- Save Changes Button -->
          <ion-button color="secondary" fill="outline" expand="block" (click)="editExpense(button.save)">
            <ion-icon slot="start" name="create"></ion-icon> {{ button.save }}
          </ion-button>
          }
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>