<ion-header>
  <ion-toolbar color="secondary">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-title class="ion-no-padding" style="padding-left: 5px;"> 
            <ion-icon name="arrow-back" style="font-size: 20px; padding-right: 15px;" class="ion-float-left" (click)="dismissModal()"></ion-icon> 
            Expense Details
          </ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="isList">
    <!-- Type -->
    <ion-item>
      <ion-label position="stacked" [color]="colorMainTheme">Type:</ion-label>
      <ion-input [value]="itemType" [readonly]="!isEditing"> <ion-icon name="bag-check" slot="start"
          [color]="colorMainTheme"></ion-icon> </ion-input>
    </ion-item>
    <!-- Category -->
    <ion-item>
      <ion-label position="stacked" [color]="colorMainTheme">Category:</ion-label>
      <ion-input [value]="itemCategory" [readonly]="!isEditing"> <ion-icon [name]="itemIonicon" slot="start"
          [color]="colorMainTheme"></ion-icon></ion-input>
    </ion-item>
    <!-- Date -->
    <ion-item>
      <ion-label position="stacked" [color]="colorMainTheme">Date:</ion-label>
      <ion-input [value]="itemExpenseDate | date: 'MMMM dd, YYYY'" [readonly]="!isEditing"> <ion-icon name="calendar"
          slot="start" [color]="colorMainTheme"></ion-icon> </ion-input>
    </ion-item>
    <!-- Source -->
    <ion-item>
      <ion-label position="stacked" [color]="colorMainTheme">Source:</ion-label>
      <ion-input [value]="itemSourceOfFund" [readonly]="!isEditing"> <ion-icon name="wallet" slot="start"
          [color]="colorMainTheme"></ion-icon> </ion-input>
    </ion-item>
    <!-- Remarks -->
    <ion-item>
      <ion-label position="stacked" [color]="colorMainTheme">Remarks:</ion-label>
      <ion-input [value]="itemRemarks" [readonly]="!isEditing"> <ion-icon name="information-circle" slot="start"
          [color]="colorMainTheme"></ion-icon> </ion-input>
    </ion-item>
    <!-- Amount -->
    <ion-item>
      <ion-label position="stacked" [color]="colorMainTheme">Amount (Php):</ion-label>
      <ion-input [value]="itemAmount" [readonly]="!isEditing" style="font-weight: bold;"> <ion-icon name="pricetags"
          slot="start" [color]="colorMainTheme"></ion-icon> </ion-input>
    </ion-item>
  </ion-list>

</ion-content>

<!-- FOOTER SECTION -->
<ion-footer>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row>
        <!-- Edit Button -->
        <ion-col size="6" class="ion-text-start">
          <ion-button color="secondary" fill="outline" expand="block">
            <ion-icon slot="start" name="create"></ion-icon> Edit
          </ion-button>
        </ion-col>
        <!-- Delete Button -->
        <ion-col size="6" class="ion-text-end">
          <ion-button color="danger" fill="outline" expand="block">
            <ion-icon slot="start" name="trash"> </ion-icon> Delete
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>