.sticky-header {
    position: sticky;
    top: 0;
    z-index: 10;
    /* higher than ion-content scroll */
    background: #f8f8f8;
    /* or white, to prevent bleed-through */
}

.searchbar-no-shadow {
    border-radius: 0;
    --border-style: none;
    padding-top: 3px;
}