<app-header [title]="title"></app-header>

<ion-content>
  <!-- EXPENSES PAGE -->
  <span *ngIf="currentTab == tabButtons[0].name">
    <app-expenses></app-expenses>
  </span>

  <!-- BUDGETS PAGE -->
  <span *ngIf="currentTab == tabButtons[1].name">
    <app-budgets></app-budgets>
  </span>

  <!-- SAVINGS PAGE -->
  <span *ngIf="currentTab == tabButtons[2].name">
    <app-savings></app-savings>
  </span>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row>

        <!-- TAB BUTTONS -->
        @for(btn of tabButtons; track btn){
        <ion-col [size]="12/tabButtons.length" class="ion-no-padding">
          <ion-button (click)="toogleTab(btn)" expand="block" color="secondary"
            [fill]="currentTab == btn.name ? 'solid' : 'clear'">
            <ion-icon slot="start" [name]="btn.ionicon"></ion-icon>
            {{ btn.name }}
          </ion-button>
        </ion-col>
        }

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>